/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: var(--bg-color);
}
/* SET GENEREGAL */
:root {
  --bg-color: #fff;
  --primary-color: #fb811e;
  --color-header: rgb(0 0 0);
  --color-farm-carousel: #f4f4f4;
  --color-grown-naturally: #060606;
  --box-shadow-item-grow-nuturally: 0 1rem 3rem rgb(0 0 0 / 3%);
  --bg-color-item-grown-nuturally: #fff;
  --border-color-card: #eee;
  --color-card-detail-p: #707070;
  --sticky-color: #000;
  --color-item: #212529;
}
.dark-mode {
  --bg-color: #222222;
  --color-header: #fff;
  --color-farm-carousel: #0b0d0e;
  --color-grown-naturally: #fdfffc;
  --box-shadow-item-grow-nuturally: 0 1rem 3rem rgb(23 19 19);
  --bg-color-item-grown-nuturally: #222222;
  --border-color-card: rgb(255 255 255 / 20%);
  --color-card-detail-p: #b7b7b7;
  --sticky-color: #fff;
  --color-item: #fff;
}
html,
body {
  color: #404040;
  line-height: 1.5;
  position: relative;
}
/* NÚT BUTTON */
.btn__style {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background-color: #fb811e;
  border: none;
  border-radius: 30px;
  color: white;
  margin-top: 48px;
  transition: all 0.5s;
}
.btn__style:hover {
  background-color: #009f4d;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  outline: 0;
}
/*START HEADER*/
header {
  display: grid;
  grid-template-rows: 1fr;
  height: 90px;
  align-items: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s ease 0s;
}
.sticky {
  padding: 0;
  background: var(--bg-color);
  height: 70px;
  box-shadow: 3px 6px 0 rgb(0 0 0 / 5%);
}
.sticky .header__content a {
  color: var(--sticky-color);
}
.sticky .navbar__mode i {
  color: var(--sticky-color);
}
.sticky .navbar__drop-menu i {
  color: var(--sticky-color);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header__content .navbar {
  justify-content: space-around;
  align-items: center;
  position: relative;
}
/* phần header-logo */
.header__content h1 a {
  font-family: "Volkhov", serif;
  font-size: 32px;
  color: var(--primary-color);
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
}
.header__content h1 i {
  position: absolute;
  font-size: 20px;
  top: -3px;
  left: 55px;
  transform: translate(10deg);
  display: inline-block;
}
/* phần header-search*/
.navbar__search {
  margin: 0 10px;
  position: relative;
}
.navbar__search input {
  background: #fff
    url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/search.png)
    no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}
.navbar__search input:focus {
  width: 200px;
  padding-left: 32px;
  padding-right: 15px;
  background-color: #fff;
  color: #000;
  cursor: auto;
}
/* phần nabar-mode */
.navbar__mode i {
  transition: all 0.5s;
  color: var(--color-header);
}
.navbar__mode {
  position: relative;
}
.navbar__mode .switch {
  display: inline-block;
  font-size: 25px;
  color: white;
  transform: rotate(-25deg);
  margin: 0 10px;
  cursor: pointer;
}
.navbar__mode i:hover {
  color: var(--primary-color);
}
/* phần nabar-dropmenu */
.navbar__drop-menu i {
  transition: all 0.5s;
}
.navbar__drop-menu {
  position: relative;
}
.dropdown button i {
  font-size: 27px;
  font-weight: bold;
}
.dropdown-menu {
  text-align: center;
  min-width: 8em;
  background-color: var(--bg-color);
}
.dropdown-menu a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
.dropdown-menu.show .navbar__drop-menu .btn {
  box-shadow: none;
  outline: 0;
}
.sticky .header__content a:hover {
  color: #fb811e;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  font-family: "Source Sans Pro", sans-serif;
  top: 43px;
  left: -188px;
  padding: 0.5rem 31px;
  overflow: hidden;
}
.dropdown-item {
  padding: 7px 30px;
  transition: all 0.5s;
  color: var(--color-item);
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
/* END HEADER  */

/* START CAROUSEL */
.carousel__content .row {
  align-items: center;
}
.left__title {
  transform: translateY(-50%);
  font-family: "Volkhov", serif;
}
.carousel__content .left__title h2 {
  color: var(--color-farm-carousel);
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  top: -90px;
  left: -55px;
  z-index: -1;
}
.carousel__content .left__title h3 {
  font-size: 53px;
  line-height: 60px;
  font-weight: bold;
  color: var(--color-grown-naturally);
}
.carousel__content .left__title p {
  font-size: 20px;
  color: #707070;
  font-family: "Volkhov", serif;
}
.carousel__left {
  width: 100%;
}
.carousel__right {
  width: 100%;
  margin-left: 10px;
}
#carousel__show img {
  width: 100%;
  min-height: 100%;
  border-bottom-left-radius: 20px;
}
.carousel-item {
  width: 100%;
  height: 100%;

  border-bottom-left-radius: 20px;
  position: relative;
}
.carousel__right .title__img {
  position: absolute;
  bottom: 50px;
  right: 25px;
  color: #fff;
  text-align: center;
  z-index: 50;
}
.carousel__right .title__img h4 {
  font-family: "Volkhov", serif;
}
.title__img h4 .span1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
.title__img h4 span {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}
.col-5 {
  position: static;
  padding: 0;
}
.left__title {
  position: absolute;
  left: 10em;
  z-index: 3;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  background-color: var(--primary-color);
}
.carousel-inner {
  border-bottom-left-radius: 20px;
  width: 100%;
  height: 100vh;
}
.carousel-item::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  z-index: 1;
  border-bottom-left-radius: 20px;
}
/*END CAROUSEL*/

/* START GROW NATURALLY */
.grow-naturally {
  font-family: "Volkhov", serif;
}
.grow-naturally .left__content {
  padding: 0 48px 0 15px;
}
.grow-naturally h5 {
  color: #fb811e;
  font-size: 22px;
}
.grow-naturally h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--color-grown-naturally);
}
.grow-naturally p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #707070;
}
.grow-naturally .right__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.grow-naturally .item {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: var(--box-shadow-item-grow-nuturally);
  transition: all 0.3s;
  background-color: var(--bg-color-item-grown-nuturally);
}
.grow-naturally .item:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.grow-naturally .item img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.grow-naturally .item a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: var(--color-grown-naturally);
  text-decoration: none;
  transition: all 0.5s;
}
.grow-naturally .item a:hover {
  color: #009f4d;
}

/*END GROW NATURUALLY*/

/*START CHOOSE FOOD*/
.choose-food {
  background-color: #009f4d;
  position: relative;
}
.choose-food .choose__above {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 48px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.choose-food h5 {
  font-size: 22px;
  color: #fff;
  font-family: "Volkhov", serif;
}
.choose-food h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  font-family: "Volkhov", serif;
}
.choose-food .choose__above p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.choose-food__content .big__title {
  font-family: var(--font-family-Vol);
  text-align: center;
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 12vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50%;
  align-items: center;
}
.choose__bottom {
  font-family: var(--font-family-Sour);
}
.choose__bottom .card {
  border: none;
  background: none;
}
.choose__bottom .card img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  max-width: 100%;
  cursor: pointer;
}
.choose__bottom .card__detail {
  background-color: var(--bg-color);
  padding: 30px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border: 1px solid var(--border-color-card);
  border-top: none;
}
.card__detail span {
  color: #009f4d;
  display: inline-block;
  background: rgb(0 159 77 / 16%);
  padding: 5px 20px;
  border-radius: 15px;
  font-weight: 600;
}
.card__detail h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: var(--color-grown-naturally);
  margin: 15px 0;
  transition: all 0.5s;
  cursor: pointer;
}
.card__detail h4:hover {
  color: #009f4d;
}
.card__detail p {
  font-size: 17px;
  line-height: 27px;
  color: var(--color-card-detail-p);
}
/*END CHOOSE FOOD*/
h5.small-title {
  color: var(--primary-color);
  font-size: 22px;
}
.title-style {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: black;
}
h4 {
  font-family: "Volkhov", serif;
  color: #060606;
  font-weight: 700;
}
.imginfo__box {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  left: -85px;
  bottom: 38px;
  padding: 40px;
  box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
  min-width: 300px;
  border-radius: 0 0 100px 0;
  text-align: center;
}
.imginfo__box .imginfo__title {
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  font-weight: 600;
}
.imginfo__box p {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.radius-image {
  border-radius: 20px;
}
.w3l-index-block4 .feature-unit {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
}
p {
  color: #707070;
  font-size: 17px;
  line-height: 27px;
}
.w3l-index-block4 .feature-unit {
  text-decoration: none;
  transition: 0.3s;
  background: #fafafa;
  padding: 25px 10px;
  margin: 15px;
  border: 1px solid #00000000;
  border-radius: 10px;
}

.grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}
.w3l-index-block4 .feature-unit h4 {
  transition: 0.3s ease-in;
}
.w3l-index-block4 .feature-unit:hover h4 {
  color: #009f4d;
}
